---
layout: default
---
<div class="posts">
	{% for page in paginator.posts %}
		{% cycle '<div class="row">', '' %}
			<div class="post span6">
				
				<!-- This is duplicated in _includes/heading_with_image.html -->

				<div class="post-image">
					<div class="ribbon">
						<a onClick="_gaq.push(['_trackEvent', 'Clicked Through', '{{ page.title }}', 'ribbon']);" href="{{ page.url }}" rel="me">{{ page.date | date:"%b %d, %Y" }}</a>
					</div>

					<div class="post-header-fix">
						<a onClick="_gaq.push(['_trackEvent', 'Clicked Through', '{{ page.title }}', 'text']);" href="{{ page.url }}"><h1>{{ page.title }}</h1></a>
					</div>

					<img class="img-rounded" src="{{ page.image }}" alt="{{ page.title }}" title="{{ page.title }}">
				</div>

			</div>
		{% cycle '', '</div>' %}
	{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination pagination-centered">
	<ul>
		{% if paginator.next_page %}
	    <li class="next"> 
			<a href="/page{{paginator.next_page}}" title="Next Page" class="next" rel="next">&larr; Older Posts</a>
			</li>
		{% else %}
			<li class="disabled"><a href="#">NO MORE!!!</a></li>
	  {% endif %}
	
	  {% if paginator.previous_page %}
	    <li class="prev">
				{% if paginator.previous_page == 1 %}
      		<a href="/" title="Previous Page" class="prev">Newer Posts &rarr;</a>
      	{% else %}
					<a href="/page{{paginator.previous_page}}" title="Previous Page" class="prev" rel="prev">Newer Posts &rarr;</a>
				{% endif %}
			</li>
		{% else %}
			<li class="disabled"><a href="#">Newer Posts &rarr;</a></li>
	  {% endif %}
	</ul>
</div>

<!-- Test Code -->
<!-- e4e47ef058431a08d714506a09d155a58279e4ee -->
<div style="display:none;">53c7353d8e45d80a2519b9ecceb048f166a6bd48</div>
<!-- End test Code -->
