---
layout: page
---
<div class="posts">
{% for post in paginator.posts %}
<div class="post">
	{% if post.image %}
	<div class="post-image">
		<a href="{{ post.url }}">
		<div class="post-header-fix">
  		<h1>{{ post.title }}</h1>
		</div>	

		<img src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}">
		</a>
	</div>
	{% else %}
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	{% endif %}

	<div class="content">
		{{ post.content }}
	</div>

	{% include me-footer.html %}
</div>
{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
	<ul>
		{% if paginator.next_page %}
	    <li class="next"> 
			<a href="/page{{paginator.next_page}}" class="next">&larr; Older Posts</a>
			</li>
	  {% endif %}
	
	  {% if paginator.previous_page %}
	    <li class="prev">
			<a href="/page{{paginator.previous_page}}" class="prev">Newer Posts &rarr;</a>
			</li>
	  {% endif %}
	</ul>
</div>

<!-- Test Code -->
<!-- e4e47ef058431a08d714506a09d155a58279e4ee -->
<div style="display:none;">53c7353d8e45d80a2519b9ecceb048f166a6bd48</div>
<!-- End test Code -->
