<div class="about_me" style="text-align: justify;">
	<img class="avatar img-circle" alt="Brett Hardin" src="https://en.gravatar.com/userimage/8781599/408ff2d80d284339d894c762915fde94.jpg" />
	
	<div style="padding-bottom: 13px;">
		<small>
			<a href="/about">Brett Hardin</a> hates writing in third-person. I'm the Founder of <a href="http://www.sourceninja.com/">SourceNinja</a> and love <a onclick="_gaq.push(['_trackEvent', 'Clicked Link', 'love learning', 'side bar']);" href="/2012/10/writing-about-what-i-learn/">writing about what I learn</a>. If you found this article helpful or annoying, I'd love to <a href="{{ post.url }}#disqus_thread">start a dialogue.</a>
		</small>
	</div>
	

	<div style="padding-bottom: 10px;">
		<!-- AddThis Follow BEGIN -->
		<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
		<a class="addthis_button_facebook_follow" addthis:userid="hardin.brett"></a>
		<a class="addthis_button_twitter_follow" addthis:userid="miscsecurity"></a>
		<a class="addthis_button_google_follow" addthis:userid="114765575870882823509"></a>
		<a class="addthis_button_rss_follow" addthis:userid="http://feeds.bretthard.in/bretthardin"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f8cae456464e357"></script>
		<!-- AddThis Follow END -->
	</div>
</div>