<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 center-block">
        <img class="img-circle" width="90" height="90" src="https://en.gravatar.com/userimage/8781599/a55a1c26cce1232c63cb0e38ee22f9cf.png" alt="Brett Hardin">
      </div>
      <div class="col-sm-4">
        <p class="lead">
          I'm Brett Hardin. I love reading, writing, and programming. I constantly learn and this is where I document those things. If I can help you, let me know.
        </p>
      </div>
      <div class="col-sm-4 center-block">
        {% include icon.html size=3 %}
      </div>
    </div>
    <a class="text-small text-grey" href="https://github.com/bhardin"><i class="fa fa-github fa-2x"></i></a>
    <a class="text-small text-grey" href="https://twitter.com/miscsecurity"><i class="fa fa-twitter fa-2x"></i></a>
    <a class="text-small text-grey" href="https://www.instagram.com/bretth/"><i class="fa fa-instagram fa-2x"></i></a>
  </div>
</footer>
