<head>

  <script src="//cdn.optimizely.com/js/980610134.js"></script>

  {% if page.title %}
    <title>Constantly Learning: {{ page.title }}</title>
  {% else %}
    <title>Constantly Learning</title>
  {% endif %}

  {% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description }}" />
  {% endif %}

  <meta charset="utf-8" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">

  <!-- Custom CSS -->
  <!-- Using Bourbon instead of Bootstrap. -->
  <link rel="stylesheet" href="/assets/css/base.css">

  <!-- Pygments Github CSS -->
  <link rel="stylesheet" href="/assets/css/syntax.css">

  <!-- Custom Fonts -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,600|Lato:300,400,700|Oxygen:400,700|Inconsolata:400,700" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- Share Buttons -->
  <script type="text/javascript">
    $(document).ready(function() {

    // Facebook
    $( ".badge.facebook" ).children().each(function(index,value) {
      var facebook_button = $(this);
      var url = facebook_button.attr("data");

      jQuery.getJSON("http://graph.facebook.com/?id="+url, function(data) {
      if (typeof data.shares != 'undefined')
        facebook_button.html("<i class=\"icon-facebook-sign\"></i> " + data.shares);
      else if(typeof data.shares == 'undefined')
        facebook_button.html("<i class=\"icon-facebook-sign\"></i> 0");
      else
        facebook_button.html("<i class=\"icon-facebook-sign\"></i> " + data.likes);
      });
    });

    // Twitter
    $( ".badge.twitter" ).children().each(function(index,value) {
      var twitter_button = $(this);
      var url = twitter_button.attr("data");

      jQuery.getJSON("http://urls.api.twitter.com/1/urls/count.json?url="+url+"&callback=?", function(data) {
        twitter_button.html("<i class=\"icon-twitter-sign\"></i> " + data.count);
      });
    });

    // LinkedIn
    $( ".badge.linkedin" ).children().each(function(index,value) {
      var linkedin_button = $(this);
      var url = linkedin_button.attr("data");

      jQuery.getJSON("http://www.linkedin.com/countserv/count/share?url="+url+"&format=jsonp&callback=?", function(data) {
        linkedin_button.html("<i class=\"icon-linkedin-sign\"></i> " + data.count);
      });
    });
  });
  </script>

  <!-- RSS FEED -->
  <!-- <link href="{{ site.feed }}" rel="alternate" type="application/atom+xml" title="Brett Hardin" /> -->
</head>
