<div class="post-footer">
	<img class="avatar" alt="Brett Hardin" src="https://en.gravatar.com/userimage/8781599/408ff2d80d284339d894c762915fde94.jpg" />
	<p class="about-me">
	Hi, I'm Brett. I hope you enjoyed this post. I'm the Founder of SourceNinja, an <a href="http://sourceninja.com">open source management tool</a>. I love learning from people. If you found this article helpful or annoying, I'd love to start a dialogue.
	
	If you're new here, you may want to subscribe to my <a href="{{ site.feed }}" onclick="_gaq.push(['_trackEvent', 'Subscribe', 'RSS', 'bottom of post']);">RSS feed</a>, <a href="http://www.twitter.com/miscsecurity" onclick="_gaq.push(['_trackEvent', 'Followed', 'Twitter', 'bottom of post']);">Twitter</a>, <a rel="author" href="https://plus.google.com/114765575870882823509">Google+</a>, or <a href="http://feedburner.google.com/fb/a/mailverify?uri=bretthardin&amp;loc=en_US" onclick="_gaq.push(['_trackEvent', 'Subscribe', 'Email', 'bottom of post']);">subscribe via email</a>. Thanks for visiting!
	</p>
</div>