<div class="sharing">
	<div class="span1" style="margin-left: 0px;">
		<span class="badge facebook">
			<a href="http://www.facebook.com/share.php?u=bretthard.in{{ page.url }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600');return false;" data="http://bretthard.in{{ page.url }}">
			<i class="icon-facebook-sign"></i> -</a>
			</a>
		</span>
	</div>
	
	<div class="span1">
		<span class="badge twitter">
			<a href="http://twitter.com/home/?status={{ page.title }} - bretthard.in{{ page.url }} - via @miscsecurity" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600');return false;" data="http://bretthard.in{{ page.url }}">
				<i class="icon-twitter-sign"></i> -</a> 
		</span>
	</div>

	<div class="span1">
		<span class="badge linkedin">
			<a href="http://www.linkedin.com/shareArticle?mini=true&amp;title={{ page.title }}&amp;url=bretthard.in{{ page.url }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;" data="http://bretthard.in{{ page.url }}">
			<i class="icon-linkedin-sign"></i> -</a>
		</span>
	</div>
</div>

<div class="clearfix"></div>
