<div style="float: right; padding: 5px 5px;">
	<!-- AddThis Follow BEGIN -->
	<div class="addthis_toolbox addthis_default_style">
	<a class="addthis_button_facebook_follow" addthis:userid="hardin.brett"></a>
	<a class="addthis_button_twitter_follow" addthis:userid="miscsecurity"></a>
	<a class="addthis_button_rss_follow" addthis:userid="http://feeds.bretthard.in/bretthardin"></a>
	</div>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f8cae456464e357"></script>
	<!-- AddThis Follow END -->
</div>