@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

$base-font-family: Oxygen, $helvetica;
$heading-font-family: $lucida-grande;
$background-color: #e5e5e5;
$site-color: #7109aa;
$main-font-color: #525252;

$mobile: new-breakpoint(max-width 600px 1);

@mixin padded-center {
  @include span-columns(10);
  @include shift(1);
  @include omega;

  margin-bottom: 2em;
}

@mixin date {
  font-size: 0.8em;
  color: #999;
  float: right;
  text-transform: uppercase;
}

body {
  background-color: $background-color;

  h1, a { color: $site-color; }

  h1, h2, h3, h4 { padding-top: 1em; }

  div.container {
    @include outer-container;

    @import "disqus";
    @import "header";

    div.main-content {
      @include span-columns(12);

      @import "about-me";
      @import "index";

      blockquote {
        font-style: italic;
        color: #666;
      }

      @include media($mobile) {
        @include span-columns(1);
      }

      background-color: #fff;

      h1.post-title { text-transform: capitalize; }

      // Font Sizes
      h1 { font-size: $base-font-size * 2; }
      h2 { font-size: $base-font-size * 1.6; }

      div.post { @include padded-center; }
      div.page { @include padded-center; }
      div.subscribe { @include padded-center; }
      div.recent-posts { @include padded-center; }
      p.date { @include date; }
    }
  }

  @import "footer"
}
