.site-header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  background-color: $header-dark;
  color: $header-text;
}

.site-footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 4rem;
  text-align: center;
  background-color: $header-dark;
  color: $header-text;
}