/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* @import "compass/reset"; */
$header_color: #18697B;

header {
	background-color: $header_color;
	padding-top: 25px;

	h1, a {
		color: lighten(complement($header_color), 70);
		margin-bottom: 10px;
		line-height: 5px;
	}

	a:hover {
		color: darken($header_color, 10);
	}

	h2 {
		font-weight: lighter;
		color: lighten($header_color, 60);
		font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
		letter-spacing: 1.2px;
		
		em {
			color: lighten($header_color, 95);
			font-style: normal;
		}
	}
}

.nav {
	float: right;

	a {
		color: $header_color;
		font-weight: 500;
	}
}

.content{
	text-align: justify;
}

li {
	font-size: 16px;
	line-height: 25px;
}

blockquote {
	margin-bottom: 40px;

	p {
		font-size: 16px;
		font-weight: 500;
		line-height: 30px;
		color: #469CB1;
	}

	ul {
		list-style: none;
		float: right;
		margin-bottom: 0px;
	}
}

.container {
	width: 640px;

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.caption {
	text-align: right;
	padding-top: 4px;
	margin: 10px;

	p.caption-text {
		font-size: 12px;
	}
}

.share-buttons {
	margin-bottom: 25px;
}

a:hover {
	text-decoration: none;
}