/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* @import "compass/reset"; */

$header_color: #18697B;

header {
	background-color: $header_color;
	padding-top: 25px;

	h1, a {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color: lighten(complement($header_color), 70);
		margin-bottom: 10px;
		line-height: 5px;
	}

	a:hover {
		color: darken($header_color, 10);
	}

	h2 {
		font-weight: lighter;
		color: lighten($header_color, 60);
		font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
		letter-spacing: 1.2px;
		
		em {
			color: lighten($header_color, 95);
			font-style: normal;
		}
	}
}

.main-content {
	h1 {
		font-family: 'Archivo Narrow', Helvetica, sans-serif;
		line-height: 44px;
		padding-top: 25px;
		font-weight: 400;
		a {
			color: black;
		}
	}

	h2 {
		font-family: 'Dosis', Helvetica, sans-serif;
		font-weight: 400;
	}
}

.nav {
	float: right;

	a {
		color: $header_color;
		font-weight: 500;
	}
}

.content{
	text-align: justify;
}

li {
	line-height: 25px;
}

blockquote {
	p {
		font-weight: 500;
		color: #469CB1;
	}
}

.container {
	/* width: 640px; */

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.post {
	border-bottom: 1px dotted #CCC;
	padding-bottom: 20px;
}

.posts {
	width: 500px;
	margin-left: auto;
	margin-right: auto;

	.post-header-fix {
		position: absolute;
		z-index: 99;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.398438);
		border-radius: 5px 5px 0 0;
		text-shadow: black 1px 0 2px;
		top: 0;
		left: 0;

		h1 {
			padding: 10px 20px;
			color: white;	
			margin-bottom: 0px;
		}
	}
}


/* This is the same code as above... need to refactor as a mixin */
#post {
	width: 500px;
	margin-left: auto;
	margin-right: auto;

	.post-header-fix {
		position: absolute;
		z-index: 99;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.398438);
		border-radius: 5px 5px 0 0;
		text-shadow: black 1px 0 2px;
		top: 0;
		left: 0;

		h1 {
			padding: 10px 20px;
			color: white;	
			margin-bottom: 0px;
		}
	}
}

.post-image {
	position: relative;
	width: 500px;
	margin-top: 10px;
	margin-bottom: 15px;

	img {
		positiion: absolute;
		top: 0;
		left: 0;
		z-index: 90;
		
		/* padding: 10px 10px 5px 10px; */
	}

	.caption-text {
		text-align: right;
		padding-right: 15px;
		margin-bottom: 5px;

		p {
			font-size: 12px;
		}
	}
}

.part-of-a-series {
	padding: 10px 15px 8px 10px;
	margin-bottom: 18px;
	width: 470px;
	color: #C09853;

	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.share-buttons {
	margin-bottom: 25px;
}

a:hover {
	text-decoration: none;
}

.trending_content {
	font-size: 13px;
	.addthis-content-row {
		margin-bottom: 0.2em
	}
}

.fixed {
  position: fixed;
	width: 220px;
	top: 10px;
}

.side_bar {
	li {
		list-style: none;
		margin-bottom: 5px;
	}

	form.feedburner-email input[type="text"] {
		width: 140px;
		border: 1px solid #CCC;
		padding: 5px;
		border-radius: 5px 0 0 5px;
	}
	form.feedburner-email button {
		padding: 5px;
		border: 1px solid #CCC;
		background: white;
		border-radius: 0 5px 5px 0;
		margin-left: 0;
		border-left: none;
		background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#DEDEDE));
		background-image: -moz-linear-gradient(top,white,#DEDEDE);
		background-image: -o-linear-gradient(top,white,#DEDEDE);
		background-image: -ms-linear-gradient(top,white,#DEDEDE);
		background-image: linear-gradient(top,white,#DEDEDE);
		cursor: pointer;
	}

	a.rss {
		border: 1px solid #DF912C;
		padding: 2px;
		font-size: 11px !important;
		font-weight: bold;
		color: #333 !important;
		border-radius: 3px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
		background-image: -webkit-gradient(linear,left top,left bottom,from(#FFCF6A),to(#FFA530));
		background-image: -moz-linear-gradient(top,#FFCF6A,#FFA530);
		background-image: -o-linear-gradient(top,#FFCF6A,#FFA530);
		background-image: -ms-linear-gradient(top,#FFCF6A,#FFA530);
		background-image: linear-gradient(top,#FFCF6A,#FFA530);
		border-image: initial;
		position: relative;
		padding-left: 20px;
		font-family: helvetica, verdana, arial, sans-serif;
		text-decoration: none;

		i {
			background-image: url('http://f.cl.ly/items/14433T2E0d0q1r2c2G2t/rss_icon.png');
			width: 11px;
			height: 11px;
			position: absolute;
			top: 3px;
			left: 3px;
		}
	}
	
	a.rss:hover {
		border-color: #93601D;
		text-decoration: none !important;
	}
	
	a.rss-count {
		font-family: helvetica, verdana, arial, sans-serif;
		font-size: 10px;
		text-decoration: none;
		color: #333;
		margin-left: 5px;
		border: 1px solid #AAA;
		padding: 2px;
		border-radius: 3px;
	}
}

.post-footer {
	padding: 5px 10px 1px 10px;
	margin-top: 5px;

	color: #3A87AD;
	background-color: #D9EDF7;

	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #BCE8F1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	a {
		color: blue;
	}

	.avatar {
		float: left;
		margin: 12px 15px 0 4px;
	}
	.about-me {

	}
}


/* tag_box ======================================================== */

.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#005F6B;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}


@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway/raleway_thin-webfont.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Raleway/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/Raleway/raleway_thin-webfont.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/Raleway/raleway_thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/Raleway/raleway_thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
