/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/reset"; */
/* line 9, ../../_sass/screen.scss */
header {
  background-color: #18697b;
  padding-top: 25px;
}
/* line 13, ../../_sass/screen.scss */
header h1, header a {
  color: #fefbfa;
  margin-bottom: 10px;
  line-height: 5px;
}
/* line 19, ../../_sass/screen.scss */
header a:hover {
  color: #104550;
}
/* line 23, ../../_sass/screen.scss */
header h2 {
  font-weight: lighter;
  color: #cfeff6;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  letter-spacing: 1.2px;
}
/* line 29, ../../_sass/screen.scss */
header h2 em {
  color: white;
  font-style: normal;
}

/* line 36, ../../_sass/screen.scss */
.nav {
  float: right;
}
/* line 39, ../../_sass/screen.scss */
.nav a {
  color: #18697b;
  font-weight: 500;
}
/* line 44, ../../_sass/screen.scss */
.nav a:hover {
  color: darker(#18697b, 10);
}

/* line 49, ../../_sass/screen.scss */
.content {
  text-align: justify;
}

/* line 53, ../../_sass/screen.scss */
li {
  font-size: 16px;
  line-height: 25px;
}

/* line 59, ../../_sass/screen.scss */
blockquote p {
  font-size: 16px;
  line-height: 30px;
}

/* line 65, ../../_sass/screen.scss */
.container {
  width: 640px;
}
/* line 68, ../../_sass/screen.scss */
.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 75, ../../_sass/screen.scss */
.caption {
  text-align: right;
  padding-top: 4px;
  margin: 10px;
}
/* line 80, ../../_sass/screen.scss */
.caption p.caption-text {
  font-size: 12px;
}

/* line 85, ../../_sass/screen.scss */
.share-buttons {
  margin-bottom: 25px;
}

/* line 89, ../../_sass/screen.scss */
a:hover {
  text-decoration: none;
}
