/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/reset"; */
/* line 10, ../../_sass/screen.scss */
header {
  background-color: #18697b;
  padding-top: 25px;
}
/* line 14, ../../_sass/screen.scss */
header h1, header a {
  color: #fefbfa;
  margin-bottom: 10px;
  line-height: 5px;
}
/* line 20, ../../_sass/screen.scss */
header a:hover {
  color: #104550;
}
/* line 24, ../../_sass/screen.scss */
header h2 {
  font-weight: lighter;
  color: #cfeff6;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  letter-spacing: 1.2px;
}
/* line 30, ../../_sass/screen.scss */
header h2 em {
  color: white;
  font-style: normal;
}

/* line 38, ../../_sass/screen.scss */
.main-content h1 {
  font-family: "Raleway", Helvetica, sans-serif;
  line-height: 44px;
  padding-top: 25px;
  font-weight: 300px;
}
/* line 43, ../../_sass/screen.scss */
.main-content h1 a {
  color: black;
}

/* line 50, ../../_sass/screen.scss */
.nav {
  float: right;
}
/* line 53, ../../_sass/screen.scss */
.nav a {
  color: #18697b;
  font-weight: 500;
}

/* line 59, ../../_sass/screen.scss */
.content {
  text-align: justify;
}

/* line 63, ../../_sass/screen.scss */
li {
  line-height: 25px;
}

/* line 67, ../../_sass/screen.scss */
blockquote {
  margin-bottom: 40px;
}
/* line 70, ../../_sass/screen.scss */
blockquote p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #469CB1;
}
/* line 77, ../../_sass/screen.scss */
blockquote ul {
  list-style: none;
  float: right;
  margin-bottom: 0px;
}

/* line 84, ../../_sass/screen.scss */
.container {
  /* width: 640px; */
}
/* line 87, ../../_sass/screen.scss */
.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 94, ../../_sass/screen.scss */
.post {
  border-bottom: 1px dotted #CCC;
  margin-bottom: 20px;
}

/* line 99, ../../_sass/screen.scss */
.post-image {
  border: 1px solid #DDD;
  display: inline;
  float: right;
  margin-left: 15px;
  background-color: #EEE;
}
/* line 106, ../../_sass/screen.scss */
.post-image img {
  width: 340px;
  float: right;
  padding: 10px 10px 5px 10px;
}
/* line 112, ../../_sass/screen.scss */
.post-image .caption-text {
  text-align: right;
  padding-right: 15px;
  margin-bottom: 5px;
}
/* line 117, ../../_sass/screen.scss */
.post-image .caption-text p {
  font-size: 12px;
}

/* line 125, ../../_sass/screen.scss */
.share-buttons {
  margin-bottom: 25px;
}

/* line 129, ../../_sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 133, ../../_sass/screen.scss */
.fixed {
  position: fixed;
  width: 220px;
  top: 10px;
}

/* line 140, ../../_sass/screen.scss */
.side_bar li {
  list-style: none;
  margin-bottom: 5px;
}
/* line 145, ../../_sass/screen.scss */
.side_bar form.feedburner-email input[type="text"] {
  width: 140px;
  border: 1px solid #CCC;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}
/* line 151, ../../_sass/screen.scss */
.side_bar form.feedburner-email button {
  padding: 5px;
  border: 1px solid #CCC;
  background: white;
  border-radius: 0 5px 5px 0;
  margin-left: 0;
  border-left: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#dedede));
  background-image: -moz-linear-gradient(top, white, #dedede);
  background-image: -o-linear-gradient(top, white, #dedede);
  background-image: -ms-linear-gradient(top, white, #dedede);
  background-image: linear-gradient(top, #ffffff, #dedede);
  cursor: pointer;
}
/* line 166, ../../_sass/screen.scss */
.side_bar a.rss {
  border: 1px solid #DF912C;
  padding: 2px;
  font-size: 11px !important;
  font-weight: bold;
  color: #333 !important;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcf6a), to(#ffa530));
  background-image: -moz-linear-gradient(top, #ffcf6a, #ffa530);
  background-image: -o-linear-gradient(top, #ffcf6a, #ffa530);
  background-image: -ms-linear-gradient(top, #ffcf6a, #ffa530);
  background-image: linear-gradient(top, #ffcf6a, #ffa530);
  border-image: initial;
  position: relative;
  padding-left: 20px;
  font-family: helvetica, verdana, arial, sans-serif;
  text-decoration: none;
}
/* line 185, ../../_sass/screen.scss */
.side_bar a.rss i {
  background-image: url("http://f.cl.ly/items/14433T2E0d0q1r2c2G2t/rss_icon.png");
  width: 11px;
  height: 11px;
  position: absolute;
  top: 3px;
  left: 3px;
}
/* line 195, ../../_sass/screen.scss */
.side_bar a.rss:hover {
  border-color: #93601D;
  text-decoration: none !important;
}
/* line 200, ../../_sass/screen.scss */
.side_bar a.rss-count {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 11px;
  text-decoration: none;
  color: #333;
  margin-left: 5px;
  border: 1px solid #AAA;
  padding: 2px;
  border-radius: 3px;
}

@font-face {
  font-family: 'Raleway';
  src: url("/assets/fonts/Raleway/raleway_thin-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Raleway/raleway_thin-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Raleway/raleway_thin-webfont.woff") format("woff"), url("/assets/fonts/Raleway/raleway_thin-webfont.ttf") format("truetype"), url("/assets/fonts/Raleway/raleway_thin-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
