/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/reset"; */
/* line 9, ../../_sass/screen.scss */
header {
  background-color: #2C484E;
  background-origin: padding-box;
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 15, ../../_sass/screen.scss */
header h1, header a {
  font-size: 60px;
  color: #E5F3F6;
}
/* line 20, ../../_sass/screen.scss */
header h2 {
  font-weight: lighter;
  color: #5D858E;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
}

/* line 27, ../../_sass/screen.scss */
.nav-bar {
  background-color: #1A2628;
}
/* line 30, ../../_sass/screen.scss */
.nav-bar a {
  color: #E5F3F6;
}

/* line 35, ../../_sass/screen.scss */
a {
  color: #25A0BB;
}

/* line 39, ../../_sass/screen.scss */
.content {
  text-align: justify;
}

/* line 43, ../../_sass/screen.scss */
p {
  font-size: 16px;
  line-height: 25px;
  font-weight: lighter;
}

/* line 49, ../../_sass/screen.scss */
li {
  font-size: 16px;
  line-height: 25px;
}

/* line 55, ../../_sass/screen.scss */
blockquote p {
  font-size: 16px;
  line-height: 30px;
}

/* line 61, ../../_sass/screen.scss */
.container {
  width: 640px;
}
/* line 64, ../../_sass/screen.scss */
.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 71, ../../_sass/screen.scss */
.caption {
  text-align: right;
  padding-top: 4px;
  margin: 10px;
}
/* line 76, ../../_sass/screen.scss */
.caption p.caption-text {
  font-size: 12px;
}
