---
layout: sidebar
---
<div class="post">
<div class="row">
	<div class="span8">
	{% include heading_with_image.html %}

	<div class="content">
	{{ content }}
	</div>

	{% include share_buttons.html %}

	<!-- Tags -->
	<ul class="tag_box inline">
		{% assign tags_list = page.tags %}
  	{% include JB/tags_list %}
	</ul>

	<!-- Photo Credit -->
	{% if page.image_credit %}
		<i class="icon-camera"></i> {{ page.image_credit }}
	{% endif %}

	<h2>Recent Posts</h2>	
	{% include recent_posts.html %}

	{% include disqus %}
	
</div> <!-- End of Span6 -->
</div> <!-- End of Row -->
</div><!-- End Post -->
