---
layout: default
---
<div id="page">
  <h1>{{ page.title }}</h1>

  {{ content }}

	<h3>Hey!</h3>
	{% include me-footer.html %}

	<h3>Other Posts</h3>
	<div class="related-posts">
		{% for post in site.related_posts limit: 3 %}
			<li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</div>
	

		
  <div class="pagination">
	<ul>	
 	 {% if page.previous %}
	    <li class="prev">
			<a href="{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">&larr; Earlier Post</a>
		</li>
	  {% endif %}

	  {% if page.next %}
		<li class="next">
	    	<a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">Next Post &rarr;</a>
		</li>
	  {% endif %}
	</ul>
  </div> <!-- pagination div -->

	{% include disqus %}
  
</div><!-- End Page -->

